[2011-07-09 17:14] mbrennan opened #1 "rake commands not working"
Hello, in my Rails 3 project, I added seedbank to my Gemfile and did a bundle install.  bundle show seedbank shows the gem installed.  rake -T shows seedbank commands like db:seed:development .  However, when I run rake db:seed:development, it doesn't run the scripts in my development directory.  Also, if I try a specific script like rake db:seed:development:users, the command line shows:

[code]

[2011-08-30 05:01] pvencill opened #2 "Circular reference"
The described syntaxes do not work.  With the structure:

db/seeds/users.seeds.rb

I get a circular reference error when running rake db:seed

which states that

Tasks: TOP => db:seed => db:seed:common => db:seed:original

running rake db:seed:users works as advertised.

[2012-02-09 22:58] ddidier opened #3 "sort *.seed.rb files"
It would be very useful to alphabetically sort the seed files to have a predictable result.
I'm quite new to Ruby, but it seems that's doing the job :

in seed.rake:

[code]

and

[code]

thanks

[2012-06-13 02:57] jhephs opened #6 "Seed files sharing across development and staging environment"
How do you make the seed files DRY?

I have multiple seed files that are shared across development and staging environments.

Thanks!

[2012-06-24 00:23] #1 closed, assigned to nobody

[2012-07-02 15:22] #6 closed, assigned to nobody

[2012-07-02 15:23] #3 closed, assigned to nobody

[2012-07-18 00:04] jocubeit opened #8 "Causes exception when you have a model called Task"
I have a rails application that has Project and Task models. I'm using seedbank to seed the development environment. Seeding works beautifully when I don't want to seed the Task model or indeed instantiate a Task model anywhere.

[code]

It seems to think I'm trying to instantiate a new Rake Task. If I remove seedbank from the gem file, everything works fine.
I can't see the problem after looking

[2012-07-19 00:27] #8 closed, assigned to nobody

[2012-07-24 21:38] #2 closed, assigned to nobody

[2012-08-10 16:29] bcardarella opened #10 "Handle load order dependencies?"
How do you suggest handling load order between seed files?

[2012-08-10 18:01] #10 closed, assigned to nobody

[2012-08-10 19:58] axsuul opened #11 "config.threadsafe! causes models not to be autoloaded"
Since Rails 4 will have `config.threadsafe!` as the default, I feel it's important to address this issue. My application has this config option. I can confirm that this problem doesn't happen with `threadsafe!` disabled. Within my seed file, I'm getting uninitialized constant errors (pertaining to my models).

[code]

The way around this right now is to load them manually

[code]

**UPDATE: After

[2012-08-10 20:08] #11 closed, assigned to nobody

[2012-08-11 04:34] ltcdnunez opened #12 "Wrong Constant Name #<Seedbank"
I am unable to get the seeds working on Rails 3.2.6. I'm getting the error: `wrong constant name #<Seedbank` as soon as the execution begins for the first seed file. I've included the full backtrace below and am investigating on my end. I recognize that this could be specific to my system but I want to post this here in case anyone else is experiencing this problem.

[code]

[2012-09-02 12:44] apacala opened #13 "Is the .seeds suffix really necessary?"
All the seed files are already stored in a directory called seeds so do we really need to use `.seeds.rb` extension instead of just `.rb`?

[2012-09-07 19:43] chendrix opened #14 "Allow use of variables from other seed files"
### The current README.md file shows an example of:

db/seeds/companies.seeds.rb

[code]

db/seeds/users.seeds.rb

[code]

db/seeds/projects.seeds.rb

[code]

db/seeds/tasks.seeds.rb

[code]
### This would be much more elegantly solved by flattening the scope to allow you to do

db/seeds/companies.seeds.rb

[code]

db/seeds/users.seeds.rb

[code]

db/seeds/projects.seeds.rb

[code]

db/seeds/tasks

[2012-09-25 15:33] pguegan opened #15 ""#{__FILE__}" gives "(eval)""
Version: v0.1.1 (and greater)

In my seeds, I have to get the current file name with `"#{__FILE__}"`. However, since version 0.1.1, this returns the string "(eval)" instead of the file name.

I didn't investigate on the cause of this regression (I'll do it when I have time), so if you have a clue...

This issue has appeared since v0.1.1, but v0.0.9 is ok.

[2012-09-25 23:08] #15 closed, assigned to nobody

[2012-11-20 20:52] ddidier opened #18 "cannot "require_relative" anymore"
Hi,

I updated SeedBank from version 0.0.X (0.0.7 maybe) to version 0.2.0 and now I cannot require anything anymore in a seed file. Seems that's because you're using `module_eval` now, but I'm not familiar with this.

[code]

Anyway, is this intended ? or maybe I'm not using it adequately... ?

[code]

[2012-12-11 13:20] chrisbloom7 opened #19 "Cannot define a method in a seedfile"
Because you are using module_eval to glob all of the seeds together, one cannot simply define a method in a seed file and have it be available as one might expect from the statement "anything you could type into the rails console will work in your seeds".

Instead, one must put it inside a `class << self` block so that it's available within the scope that seedbank executes all of the code. I suspe

[2013-01-20 23:52] specialorange opened #20 "Creation of directories"
Im using rails 3.2, and the documentation and post install message say that "all is done".   But do I need to manually create the folder hierarchy within /db/ ?   This is not explained.   Only the runtime execution priorities are explained.

[2013-05-22 07:39] augnustin opened #25 "Seedbank broken?"
I'm using Rails v3.2 and Rake v10.0.4 and after adding the gem:

[code]

and run `bundle install`, all the *.seeds.rb files aren't selected:

[code]

Since I'm pretty new in Ruby, there's a chance I missed something in between.

I created a stackoverflow question too:
http://stackoverflow.com/questions/16678266/seedbank-nothing-happens-when-doing-rake-dbseed-anymore

Thanks

[2013-06-02 19:51] #18 closed, assigned to nobody

[2013-06-04 17:45] #25 closed, assigned to nobody

[2013-06-21 06:32] PikachuEXE opened #27 "Not working with rake 10.1.0"
But it works with rake `10.0.4`

[code]

[2013-07-01 16:21] gwik opened #29 "fails when seeds.rb is not present"
Hi,

Using HEAD, any `rake` command fails when file `db/seeds.rb` is not present.

[code]

I used rake 10.1.0, ruby 2.0.0p247, rails 3.2.13.
`touch db/seeds.rb` fixes it.

Thanks for the gem.

[2013-07-03 06:00] #27 closed, assigned to nobody

[2013-07-05 18:26] vizjerai opened #30 "db/seeds.rb"
Just tried out 0.3.0.pre and 0.3.0.pre2 and rake db:seed caused this error.

[code]

It took a while to figure it out but apparently there is an assumption that there is a ```db/seeds.rb``` file that wasn't there in v0.1.2. Throwing an empty file there fixed the issue and it works again. So... either the code should be updated to allow not having db/seeds.rb or add in the documentation that it is

[2013-11-14 18:59] #29 closed, assigned to james2m

[2013-11-18 12:04] augnustin opened #32 "Seed order"
When I run `rake db:seed`, I'd like to be able to control in which order the seeds are going to be called.

Is it at least alphabetical range? Meaning I could rename:
`/db/seeds/1_countries.seeds.rb`
`/db/seeds/2_regions.seeds.rb`
`/db/seeds/3_users.seeds.rb`
and know what is the order.

Any other trick would do also!

Cheers

[2013-11-18 12:07] #32 closed, assigned to nobody

[2014-01-27 21:39] drernie opened #33 "Update README to indicate support for Rails 4.x"
I didn't see anything in the README about whether seedbank works with Rails 4.

UPDATE: My original problem appears to be a dup of https://github.com/james2m/seedbank/issues/12

When removed a module I had defined in db/seeds.rb, it worked fine.

So I changed the title to "Update README to indicate support for Rails 4.x" :-)

---

OLD MESSAGE

When I tried it in my using Railsapp with Rails 4:
- G

[2014-02-12 04:29] dboyd68 opened #34 "uninitialized constant"
getting uninitialized constant on the first line of my seed file
User.create(...)

I can run rake db:seed fine withouth seedbank.

I am using mongoid.

Error is:

rake aborted!
uninitialized constant User
//home/user/my_project/db/seeds.rb:4:in `block in define_seed_task'
//home/user/.rvm/gems/ruby-2.0.0-p247@myi/gems/seedbank-0.3.0/lib/seedbank/dsl.rb:24:in`module_eval'
//home/user/.rvm/gems/ruby

[2014-05-10 17:49] guapolo opened #35 "Allow deep level seed loading"
Hi, just my two cents here.

It may be useful to allow seedbank to load seed files from deep nested subdirectories. Even though it could cram up rake syntax, it would allow to store seed files following deep nested folder/namespace structure giving the user the choice to sacrifice nice rake syntax for a nice folder structure.

For example:

[code]

I'll try to make a pull request if you find this

[2014-05-12 19:55] #19 closed, assigned to nobody

[2014-05-14 16:51] jogaco opened #38 "Invoking seed task from spec_helper"
I'd like to invoke seedbank's seed task from within spec_helper

[code]

will just seed data from standard db/seeds.rb.
How can I load all seedbank files from within spec_helper?

[2014-05-18 20:28] #38 closed, assigned to nobody

[2014-07-09 14:27] #33 closed, assigned to nobody

[2014-08-12 12:50] pmackay opened #40 "Seed files inside engines dont work"
I'm attempting to define seed data inside an engine in a subdirectory of my app. Running the db:seed command from inside the engine doesnt work, showing:

`Don't know how to build task 'db:seed:original'`

This is with a `seeds.rb` in the `/db` directory. In the root app `/db` directory it works fine.

[2014-09-02 16:17] chrisbloom7 opened #41 "Version 0.3.0 doesn't work with Rails 2.3"
This certainly isn't a high priority given Rails 2.3 and Ruby 1.8.7 are both long deprecated, but maybe it's at least worth changing the dependency requirements.

I'm working on a project that is momentarily stuck using Rails 2.3 LTS and Ruby 1.8.7. I added Seedbank 0.3.0, added a couple simple seed files, and tried running a few of the rake tasks. Each one failed with the following error:

    $

[2014-09-10 10:17] jhephs opened #42 "rake db:reset seems to be not working as expected in Rails 4.2"
Can you please check? I tried rake db:seed and it seems to be working fine. However, when I use rake db:reset and then check the development database, seeded data are not in there.

Thanks!

[2014-09-25 16:30] shankardevy opened #43 "Circular dependency detected"
`Circular dependency detected: TOP => db:seed:provider => db:seed:common => db:seed:provider`

I have only file called provider.seeds.rb in my 'db/seeds' directory.

Calling `./bin/rake db:seed:provider` gives me this error.

I am using Rails 4.2.beta1, btw.

[2014-10-09 03:57] chrisbloom7 opened #44 "Seedbank doesn't work with Rails 3.0.x"
I'm upgrading from Rails 2.3.8 to 3.0.9. Trying to run any rake task I get an error:

With seedbank version 0.3.0 installed:

[code]

The `existent` method was added in Rails v3.1.0.

With seedbank any other version installed (I tried every available version from 0.0.9 - 0.2.1):

[code]

[2014-10-14 19:21] #44 closed, assigned to nobody

[2014-10-14 19:23] #14 closed, assigned to nobody

[2014-10-31 17:56] thatRailsGuy opened #47 "Seeds for multiple environments"
I have a project which has seeds data for multiple environments but not all. Currently I'm using the file format like this:

    db/seeds/
      bar.seeds.rb
      development/
        users.seeds.rb
      integration/
        users.seeds.rb
      foo.seeds.rb

and the integration/users.seeds.rb is one line like this:

    after "development:users"

Is there a better way to add seeds for multiple

[2014-12-14 21:12] #12 closed, assigned to nobody

[2015-01-20 09:42] zrisher commented on #40
+1. I have an engine that provides a access to a secondary database, and I can't use Seedbank as a utility for that engine nor the host application.

My engine provides a secondary DB folder that holds all the migrations, schema, seeds, etc. All the rake `db:..` tasks have been set up in a namespace `enginename:db:...`, which was easy to do by simply overriding some `Rails.application.config.paths

[2015-02-09 17:17] msimkins commented on #34
jeromegn's fix worked for me as well, a +1 for this, it probably can be protected by an ....if defined?(Mongoid) in the main gem

[2015-03-23 00:32] jsmecham commented on #43
I'm seeing this problem, as well.

[2015-04-01 03:22] seehad opened #50 "Running twice"
I have exactly one seed file at the moment to create a default user.  It is located in  /db/seeds/01-users.seeds.rb

------- contents of file below

# 01 - users.seeds.rb

puts "------ 01 - users.seeds.rb"

User.create(email: 'peter@nevernever.com', \
  password: 'secret', password_confirmation: 'secret', \
  admin: true, can_be_deleted: false )

----- end contents

When I run rake db:seed it is r

[2015-04-01 04:47] james2m commented on #50
Give 0.4.0.pre a try.

[2015-04-16 07:40] Tronix117 commented on #43
Same here, except I also have a subfolder with same name containing YML files.
And I am on Rails 3.2.21

    ** Invoke db:seed:scope (first_time)
    ** Invoke db:abort_if_pending_migrations (first_time)
    ** Invoke environment (first_time)
    ** Execute environment
    ** Invoke db:load_config (first_time)
    ** Execute db:load_config
    ** Execute db:abort_if_pending_migrations
    ** Invok

[2015-04-16 07:45] james2m commented on #43
Have you tried 0.4.pre?

[2015-04-16 16:24] jsmecham commented on #43
I saw this problem as well, however, my seeder was named "resources". Renaming it to "resources_" fixed the issue, but I didn't dive any deeper. Seems like reserved words are causing a problem somewhere.

[2015-04-29 01:07] wyaeld commented on #47
We resolve this my putting the actual seed code under `lib/seeds/` - which makes it easier to test, and then the seeds files end up looking like this

[code]

Is working fine, makes reuse across multiple environments extremely easy to manage

[2015-05-04 12:54] JD-Kaplan commented on #35
Any information about how this ended up? I'm finding I need at least one more level deep for what I have to do.

[2015-05-04 14:33] james2m commented on #35
It will make it in. So you're safe using the branch for the moment. I'm just super busy and travelling at the moment so not had the time to roll up a new release.

[2015-08-04 16:46] edwinhorneij commented on #50
We're seeing the same thing. It looks like all seed files are being executed twice. We tried using v0.4.0pre and got the same behavior.

[2015-09-02 10:29] brenes commented on #50
Any update on this?

I'm having the same issue with v0.4.0pre

[2015-09-02 17:01] james2m commented on #50
I'll try and get to it next week, but exceptionally busy. If anyone can give me a test project and dome debugging insights it'd be really useful.

J.

[2015-09-29 21:02] davidimoore commented on #50
Has anyone looked into this. I'm guessing this commit might be a good place to start athttps://github.com/james2m/seedbank/commit/1100360765f04c4bef36b7bb7321ae89969c9c04

[2015-09-30 03:10] james2m commented on #50
@davidimoore That just stops it being defined again on re-invocation, but each Rake task is marked as already_invoked on execution. So they don't actually run a 2nd time unless they are re-enabled.

I've never been able to reproduce this and nobody has given me anything useful to debug so I don't see this going away without an example project to look at.

[2015-09-30 14:24] davidimoore commented on #50
@james2m I wish I could share the repo I'm having the issue with presently but I don't have that option.

I'll generate a couple of apps this weekend and attempt to reproduce to see what happens.

[2015-10-01 08:54] james2m commented on #50
Cool. I've tried to reproduce on 6 different apps and never succeeded. Must be something in the way I set them up. Rake and ruby version would help too.

 Thanks.

[2015-10-14 20:34] davidimoore commented on #50
@james2m Sorry just following up. I tried as well with a new app and couldn't reproduce. I haven't tried after adding the ActiveAdmin or Devise gems which were present in the app that I had the initial issue with. I'll try to find time to do further testing.

[2015-10-15 03:03] james2m commented on #50
Thanks for the follow up. If anybody comes up with some reproducible code I’ll take a look.

[2015-11-02 18:33] TahirMehmood commented on #30
same issue
$ rake db:seeds
rake aborted!
Don't know how to build task 'db:seeds'

(See full trace by running task with --trace)

i have seeds files in db folder
name.seeds.rb

[2015-11-02 18:57] james2m commented on #30
@TahirMehmood that gives me no real useful information to go on. If you can share a repository which demonstrates the failure I'll be happy to look. I've never been able to reproduce it so will not attempt a fix until I can.

[2015-11-18 06:24] jonathansimmons opened #52 "Doesn't appear to work in Rails 4.2.4"
Installed tonight, setup a couple files and rake `rake db:seed` none of the rake files outside of my primary `seeds.rb` file were run.

[2015-11-18 21:01] james2m commented on #52
Works fine in 4.2.4 I've a few projects of my own on 4.2.4. Can you give more specifics of your setup and the seeds directory and files. Rake version, Ruby version, contents of your Gemfile.

[2015-11-19 02:23] jonathansimmons commented on #52
Ruby 2.2.3
Rails 4.2.4
Rake 10.4.2

Sample Gemfile
[code]

[2015-11-19 02:24] jonathansimmons commented on #52
The seed directory was nothing more than

[code]

[2015-11-19 09:49] james2m commented on #52
Thats almost identical to a small project I have. Can you run rake -t=debug db:seed and upload a copy of the output?

[2015-11-25 17:48] prem-prakash commented on #52
same here rails 4.2.5

[2015-11-25 17:57] prem-prakash commented on #52
It seems that the rake tasks are not being loaded

[code]

[2015-11-25 18:33] jonathansimmons commented on #52
sorry for the delay here: but mine looks similar to @prem-prakash

[code]

[2015-11-26 12:50] prem-prakash commented on #52
@james2m I am using rails 4.2.5

[2015-12-04 02:45] jasoncox commented on #52
Seedbank requires `db/seeds.rb` so maybe `touch db/seeds.rb` will fix the issue for now?

[2015-12-04 03:38] jonathansimmons commented on #52
I can confirm I do have a db/seeds.rb in place and it still does not work. Adding:

[code]

to seeds.rb does result in that being printed when running `rake db:seed` so the seeds file is still being hit, it's the other files that are ignored.

[2015-12-07 22:33] vortizhe commented on #50
I was having the same issue with v0.4.0pre, but I realize the task was loading twice.

This require was in Rakefile by mistake:

[code]

After removed runs like a charm.

[2015-12-07 22:58] davidimoore commented on #50
This issue occurs for me without the Rakefile require and load_tasks method being called.

[2015-12-27 17:06] jasontwong commented on #30
Looks like @TahirMehmood is doing

`$ rake db:seeds`

When he should be doing

`$ rake db:seed`

[2016-01-05 11:21] Ganasist commented on #50
@vortizhe has the fix, I just removed those lines from the Rakefile and it runs once. Perhaps the docs should be updated, if this is the only issue?

[2016-01-05 12:11] james2m commented on #50
Think I'll close this as @vortizhe has the fix and @Ganasist has verified it.

[2016-01-05 12:11] #50 closed

[2016-01-14 13:57] justbaker commented on #52
I can confirm & reproduce issue w/ ActiveRecord v4.2.5. [Reading the seed task](https://github.com/james2m/seedbank/blob/master/lib/tasks/seed.rake), it seems like this occurs when there isn't a `db/seeds.rb` and Rails version > 4.

[2016-01-14 15:14] justbaker commented on #52
'Seedbank requires db/seeds.rb'

It attempts to load the file; if it cannot find it, seedbank does not correctly define
`db:seeds:original`, which will result in the error when running `rake db:seed`: `Don't know how to build task 'db:seed:original' `. [See line 36](https://github.com/james2m/seedbank/blob/master/lib/tasks/seed.rake#L36)

[2016-01-14 15:41] jonathansimmons commented on #52
I still have this issue even with a `db/seeds.rb` in place. It's worth noting there was no actual code it was just an empty file.

[2016-01-14 15:56] justbaker commented on #52
@jonathansimmons Hmm, strange.
After `touch db/seeds.rb` :

[code]
and my seeds work.

Before `touch db/seeds.rb` :

[code]

[2016-01-15 02:16] james2m commented on #52
Awesome @justbaker thanks for nailing it. I'll definitely get onto this over the weekend. Well past due a new release.

[2016-01-27 10:18] jesperronn commented on #47
@wyaeld Awesome tip, which means I could actually clean up and provide seed data on demand in my app. Thanks for sharing :+1:

[2016-02-04 17:37] pmackay opened #53 "Use with Sinatra or Padrino?"
I dont think seedbank is currently supported for these. Has it ever been considered? Would you have a few tips on what it might require?

[2016-02-04 23:59] james2m commented on #53
Aside from the railtie and some use of rails root in default initialisation it's not dependent on rails. The tests show how to override the default path so you should be able to use it just by setting the seeds_path.

I'm away from keyboard right now so there is an iirc attached to this reply.

Sent from my iPad

[2016-02-05 19:46] nanzhong commented on #40
You should be able to manually load the tasks while inside the engine. For example by adding

[code]

to the `Rakefile`.

[2016-02-09 21:37] fernandodev commented on #29
:+1: Adding `db/seeds.rb` fixed it for me.

[2016-02-23 14:51] jimedelstein commented on #40
@nanzhong this is not working for me. @zrisher were you able to solve this problem?

[2016-02-24 22:04] zrisher commented on #40
@jimedelstein Negative.

[2016-03-29 23:50] JurgenJocubeit opened #54 "Doesn't work with Rails 5 beta at all"
Probably because all db commands are now run with rails command. -t=debug is not a recognised trace option.

Running rake-11.1.2 on ruby 2.2.3 and rails 5.0.0.beta3, tried forcing rake to 10.5.0, same result.

[code]

My `property.seeds.rb` has the following block to ensure the `user.seeds.rb` is executed first:
[code]

Not sure if it can't locate the user.seeds.rb because the development environm

[2016-03-29 23:57] JurgenJocubeit commented on #54
Ok just tried adding environment to after block and it's now working with rake 10.5.0:
[code]
Will test with rake 11.1.2 and close if it works.

[2016-03-30 00:02] JurgenJocubeit commented on #54
Ok tested with rake 11.1.2 and all working. Closing.

[2016-03-30 00:02] #54 closed

[2016-07-25 21:21] jonathansimmons commented on #52
So it turns out that my problem is that I was putting files directly in the `/db` and not in a `/seeds` subdirectory.

[2016-08-05 13:49] Midnighter opened #55 "Shared functionality between seed files"
I've seen in the documentation how you can add methods and I've also seen the discussion on sharing variables between seed files. My question is about the methods. If I have multiple seed files (in the same environment, e.g., `db/seeds/`) that use the same kind of methods, can I keep the definitions somewhere or should I join all those files into one? Defining something in `db/seeds.rb` and using

[2016-08-09 20:48] bradgreens commented on #35
Likewise I am interested in the deeply nested seeds as we have a ton of data being loaded.

[2016-08-09 20:52] bradgreens commented on #55
Not my project, but we're doing this at our company by importing modules into the seed class (I'm not really a Ruby guy, so forgive me if I didn't phrase that correctly.)

In `/db/seeds/foo/bar.rb`

[code]

In `db/support/seed_helpers.rb`

[code]

This pattern works with as many helper files as you wish.

[2016-08-09 21:21] Midnighter commented on #55
Stellar! That's exactly what I was looking for.

[2016-08-09 21:21] #55 closed

[2016-08-09 21:57] javifr commented on #35
@bradgreens Check out this:
https://github.com/javifr/seedbank
May be it can help you, is my fork with this thing working...

[2016-08-13 05:34] james2m commented on #35
@javifr I don't see anything new on your fork that is not on master or the 0.4.0 release.

[2016-08-13 05:40] james2m commented on #35
Ah, I see it now on https://github.com/jobtitude/seedbank/commits/nested-folders. I'd be happy to merge if it carries some tests and doesn't break existing functionality.

[2016-08-13 05:47] james2m commented on #47
Seem @wyaeld has this covered. As for the group :development, :integration ... suggestion, I'm going to close this unless somebody feels inclined to reopen with a pull request.

[2016-08-13 05:47] #47 closed

[2016-08-15 10:00] james2m commented on #41
Updated the README.md to refer 2.x rails users to 0.2.1.

[2016-08-15 10:00] #41 closed

[2016-08-17 17:53] james2m commented on #43
This is certainly in the cases I've seen caused by having duplicate task names in the db:common and a sub directory. @Tronix117 case in point. The short term answer is don't do this;

[code]

As you will end up with the 'environment' task db:seed:duplicate (created from the directory db/seeds/duplicate) dependent on db:seed:common which will have a dependency on the common seed db:seed:duplicate (

[2016-08-17 17:56] james2m commented on #42
As this is reported as working now I'm closing.

[2016-08-17 17:56] #42 closed

[2016-08-17 18:00] #30 closed

[2016-08-17 18:00] #52 closed

[2016-08-17 18:19] james2m commented on #13
Making this configurable, but decided not to change the default so going to close this.

[2016-08-17 18:19] #13 closed

[2016-08-17 18:21] james2m commented on #53
There are a couple of places this is dependent on Rails.root, I've tiptoed towards removing them in master, but would happily take pull requests to finish the job.

[2016-08-17 18:24] james2m commented on #40
It was never designed to work with Engines, I'm just open to the idea, but don't have the time to hack on it that right now. Would happily take a PR.

[2016-09-01 17:40] ivanovaleksey commented on #53
@james2m I would try to make PR if you don't mind. But I don't know much about them gem internals so I need some time.

[2016-09-01 17:58] james2m commented on #53
Hey @ivanovaleksey master has some changes to make this easier. The main thing is get all references to Rails.root out of the code and just let the railtie.rb set the root.

[2016-09-01 18:08] ivanovaleksey commented on #53
Thank you James! I will try to make it.

[2016-09-02 11:47] ivanovaleksey commented on #53
James I have found in TODO.txt

I know we can write Rails generator but if we make the gem framework agnostic (as you have wrote in TODO) would we still be able to make such generator for other frameworks?

[2016-09-02 12:10] james2m commented on #53
I wasn't really thinking about the rails generator as such, and the todo pre-dates generators moving into the rails command, I was just thinking of a simple rake task to create the directories probably db/seeds, db/seeds/development, db/seeds/test & db/seeds/production

[2016-09-02 12:14] ivanovaleksey commented on #53
I see. Yeah some thing for fast start would be nice. If I solve this issue it it would the next :relaxed:

[2016-09-06 15:56] ivanovaleksey opened #59 "db:seed task comment isn't full"
I have noticed that when I run `rake -T` _db:seed_ task comment only looks like
`# Load the seed data from db/seeds.rb, db/seeds/*.seeds.rb and db/seeds/ENVIRONMENT/*.seeds.rb`

So there is no information here about what `ENVIRONMENT` is.
Though this information is present [here](https://github.com/james2m/seedbank/blob/master/lib/tasks/seed.rake#L34).

I believe it happens because of the [followi

[2016-09-12 21:21] jjercx commented on #1
Same here!

[2016-09-13 04:16] ivanovaleksey commented on #1
@jjercx it is definitely something wrong with your environment. As James wrote earlier could you show `Gemfile.lock` and the content of `db/seeds`?

[2016-09-13 20:14] jjercx commented on #1
The problem was I deleted db/seeds.rb. `touch db/seeds.rb` fixed it for me. Thanks.

[2016-09-14 12:59] james2m commented on #1
This is fixed on master and 0.5.0.pre.

[2016-09-15 18:41] #59 closed

[2017-01-14 23:28] ivanovaleksey commented on #34
Mongoid initially [defines](https://github.com/mongodb/mongoid/blob/master/lib/mongoid/railties/database.rake#L18) `db:seed` rake task with `environment` as prerequisite.

But `Rake::Task#clear` [here](https://github.com/james2m/seedbank/blob/master/lib/seedbank/dsl.rb#L6) removes all task's prerequisites.

I created #60 - the main idea is to keep `environment` task in prerequisites list if there

[2017-01-15 12:25] ivanovaleksey commented on #34
I didn't notice `add_environment_dependency` method [here](https://github.com/james2m/seedbank/blob/master/lib/seedbank/dsl.rb#L60).

But it doesn't work properly because `environment` task is defined after all user tasks and it isn't defined and line 63. Also it should be `:environment` not `':environment'`.

[2017-02-10 00:19] wiggly commented on #53
Just tried using it in a grape/rom app I am building and realised it was Rails specific.

Would love to have this Rails/AR agnostic.

Looking forward to Aleksey's PR getting merged.

[2017-02-12 03:05] james2m commented on #53
@wiggly @ivanovaleksey sorry I've been busy moving. I'm back on things this week. I'll finally get to look at the pull requests.

[2017-02-12 13:48] #34 closed

[2017-02-12 14:24] james2m commented on #53
@wiggly you should be able to use in your grape app now thanks to @ivanovaleksey, I don't have any non rails apps to test with, and we haven't got a stand alone environment in the test suite yet, so it would be good to hear how you get on with master.

[2017-02-12 19:09] wiggly commented on #53
So, I have already started using @ivanovaleksey's PR code and it works for me.

I haven't yet played with different environments yet but the basics work and it doesn't trip up due to dependencies on Rails.

I will use master now instead and let you know if anything breaks but I don't expect it to.

I am using the [http://rom-rb.org/](ROM) system for DB access, once I have tested it using correct s

[2017-02-13 02:48] james2m commented on #53
@wiggly @ivanovaleksey I've rolled this up into a 0.5.0.pre version.

[2017-02-13 12:47] wiggly commented on #53
So, yeah, master also works fine as expected.

One question is whether you have thought about what to do about system enviornments. Since you can't rely on RAILS_ENV.

Right now I am building things from the ground up and I have my own env var to flag things that should be configured differently on an environment basis. Perhaps a Seedbank.env that could be set by users to choose the current enviro

[2017-02-14 03:41] james2m commented on #53
That's an interesting point. I was thinking about pulling all the rails specific stuff out into its own module and letting that setup it's own prerequisites. I like the idea of Seedbank.env. @ivanovaleksey any thoughts on this?

[2017-02-15 09:08] ivanovaleksey commented on #53
Sorry for the delay. I can't really tell anything which about that 😞 The idea of `Seedbank.env` seems to be nice for me too.

As I understand now the gem doesn't include any `environment` task in `override_dependency` list because of [this](https://github.com/james2m/seedbank/blob/master/lib/tasks/seed.rake#L30), does it?

[2017-02-15 11:54] wiggly commented on #53
So, I submitted a PR to enhance the rake tasks to allow people to set up their specific DB layer before the seeds get run, I could also take a shot at adding a way for people to easily select environments that is system-agnostic.

[2017-02-17 16:24] james2m commented on #53
@wiggly thanks, I'll give it a poke over the weekend

[2017-03-11 22:13] JimW commented on #43
I followed the "Defining and using methods" instructions exactly and also got:
Circular dependency detected: TOP => db:seed => db:seed:common => db:seed:common

Fixed it by changing the name of the common seed from common.seed.rb to default.seed.rb

[2017-03-12 03:25] james2m commented on #43
@JimW what's the chances you've a db/seeds/common folder or a common.seeds.rb?

[2017-03-17 17:24] JimW commented on #43
Yes, renaming common.seed.rb to default.seed.rb fixes things. Thanks

[2017-03-17 18:15] JimW opened #63 "Seed Heroku via local task w/ param?"
In order to use seedbank to seed my staging rails server on Heroku, I currently need to have that personal data in the git repository and I don't want to be forced to have to do that, especially when I open source the project.

I'm thinking of modifying seedbank to accept a parameter that includes this data when it's called through the heroku CLI. Within my seeds, I've already isolated just the da

[2017-03-17 18:22] ivanovaleksey commented on #63
Maybe I am missing something but what is the problem to run `heroku run rake db:seed:foo`?

[2017-03-17 20:34] JimW commented on #63
food.seeds.rb has to be within git, right?  I don't want any personal data in there or have to deal with another private git branch just to keep it private.

[2017-03-18 02:12] james2m commented on #63
@JimW you probably don't need to actually modify seedbank to do this, you could put the code right in the seeds file couldn't you?

I think of the data in 2 ways, stuff that's not private, but just required to get the app off the ground, that goes into seedbank. Private stuff like user credentials I leave out of production and staging and manually create as it's usually minimal, or I design the ap

[2017-03-18 05:24] JimW commented on #63
I'm releasing an app that at it's core, deals with google accounts, so all the test data that is used for staging, needs to be valid google accounts (and so private) to actually test stuff while in staging.  I would think that is the case with any kind of server app that allows individual accounts to communicate with other APIs.  So in this case, I just can't find a workflow for dealing with test

[2017-03-22 21:41] JimW commented on #63
I ended up putting all my seed data for my app into a single yaml file, where it's easier to see and define everything.  So rather than dealing with separate files and prerequisites via seedbank, I just deal with them all in the original seeds.rb as I'm consuming my yaml from aws s3.  Seedbank is nice though, just not what I need right now.

[2017-03-22 21:41] #63 closed

[2017-03-22 23:39] james2m commented on #63
Glad you found a solution.

[2017-06-24 08:35] Aryk opened #65 "db/seeds.rb required...should it be?"
Do we really need this file to exist? Right now it crashes if this file doesn't exist:

[code]

Seems like it shouldn't be necessary if you use the functionality from this library to put everything into files under db/seeds/*

[2017-06-25 02:52] james2m commented on #65
@Aryk try 0.5.0.pre.

[2017-06-25 03:15] Aryk commented on #65
will check, thanks

[2017-06-26 01:31] james2m commented on #65
@Aryk how'd that work out for you? OK to close?

[2017-06-26 02:29] Aryk commented on #65
yup, works!

[2017-06-26 02:29] #65 closed

[2017-10-17 01:11] schadenfred opened #66 "Feature Request: default seed running order"
It's possible to use active record reflections to create a seed running order, treating belongs_to as something like dependencies as we see in bundler. It would be great if seedbank used reflection to guess which seed files to run first. I can show you some code that might help -- or I can implement it with a pull request when I get some time, though it would be good to see if you think it's usefu

[2017-10-17 01:26] james2m commented on #66
That’s a nice idea. I’m trying to get Seedbank to be entirely Rails independent and have an adapter to augment any ActiveRecord specific functionality.

Would love to get a PR for this, I’m not able to devote enough time to new features at the moment.

[2017-10-17 03:17] schadenfred commented on #66
Okay I think we can just do some kind of conditional. I'm kind of a shitty programmer but I'll try.

[2017-10-25 19:00] schadenfred commented on #66
Here's a pull request that addresses the feature request, but it broke some existing tests and I don't understand why. https://github.com/james2m/seedbank/pull/67

[2018-01-10 20:48] bbugh commented on #43
The problem seems to be `?.seeds.rb` where `?` is also the name of a subfolder. I made a file `db/seeds/report_templates.seeds.rb`. There's also a subfolder `db/seeds/report_templates/*` that contain the template files. If I try to run these seeds, I get the circular dependency detected issue. If I rename either the `report_templates.seeds.rb` file or `db/seeds/report_templates/` it works fine.

T

[2018-01-11 16:26] james2m commented on #43
This is more of a documentarian issue I think. As a seed for each subdirectory isn’t going away. It’s possible to maybe detect the duplicate and not allow it with a warning message. What do you think?

[2018-03-21 01:45] swrobel opened #68 "Force common/setup to run before any individual seed"
The example `rake db:seed:development:users` seems to actually only run `db/seeds/development/users.seeds.rb`. Is there any way to force some common/shared code to load beforehand without having to do `after` or `require` in every single individual seed file?

[2018-03-21 15:39] james2m commented on #68
There currently isn’t. It wouldn’t be hard fo add a global.seeds.rb dependency and I’d happily accept a PR for it.

On 21 Mar 2018, 08:45 +0700, Stefan Wrobel <notifications@github.com>, wrote:

[2018-06-18 18:03] cbeckr opened #73 "Class lookup fails from within seed classes (NameError Exception: wrong constant name #<Class:0x007ff918c073d0>)"
When writing seeds as classes, the use of ``instance_eval`` apparently breaks constant lookup (here: ActiveRecord classes).

To reproduce, put the following in ``db/seeds.rb``:

[code]

Then, run ``rake db:seed``:
[code]

The issue apparently lies with the format of ``Module.nesting.first``, which resolves to ``#<Class:0x007f9f4b2bfa10>::DbSeed``.

Workarounds I devised so far:
- Use global scope

[2018-07-30 14:33] bpatram opened #76 "Is this project still maintained?"
Hi, it seems this project has not been actively developed on in quite a few months and has some outstanding issues and pull requests. Are you looking for new maintainers? I use this gem in a few Rails projects and would love to have the confidence that this project will continue to be updated.

[2018-11-28 13:42] WaKeMaTTa opened #78 "Where is 0.5.0.pre"
I cannot find this version of the gem [0.5.0.pre](https://rubygems.org/gems/seedbank/versions/0.5.0.pre) in this repository. Why?

[2018-11-28 13:43] WaKeMaTTa commented on #76
ping @james2m

[2018-11-28 16:18] james2m commented on #78
It is master

[2018-11-28 16:18] #78 closed

[2018-11-28 16:31] james2m commented on #76
Yes it is still maintained. Sorry there’s little activity recently, I’m extremely busy. I definitely need to get some of the pull requests in which I will do.

It’s also been pretty stable for some time so will round off this 0.5.0.pre and get a stable release out.

Once I’m up on versions I’ll be looking towards the 1.0 which is largely targeting some refactoring and global namespace pollution so

[2018-11-28 17:11] WaKeMaTTa commented on #78
You are right. Sorry.

https://github.com/james2m/seedbank/compare/v0.4.0...master

[2018-12-03 03:31] james2m commented on #73
I'm not convinced this is a bug, and not keen on putting in something like the suggested const_missing. You can achieve the goal of writing seeds as classes if you define the class outside of the seed file itself, and call DbSeed.run inside the seed.

Running inside of `instance_eval` allows for `after` blocks and limited variable sharing via `let`.

I'm going to close this as it has an easy work

[2018-12-03 03:31] #73 closed

[2018-12-03 03:35] #76 closed

[2019-01-09 19:34] xtagon opened #80 "RuntimeError: Don't know how to build task 'environment'"
Hi,

I have a hook in my Rspec config to run my test seeds with Seedbank before my test suite runs. Worked great until I tried to upgrade Seedbank to 0.5.0, now I get this error:

[code]

Here are the relevant lines from my config:

[code]

What is the recommended way of accomplishing this? I don't believe I can do `Rails.application.load_seed` with Seedbank.

It works fine on 0.4.0.

Thanks!

[2019-01-26 11:17] james2m commented on #80
Sorry I was traveling when you raised this. I’ll have a look and see if I can recreate the error.

[2019-03-07 23:57] iczman commented on #14
@james2m consider updating README to document the use of `let/let!`?

[2019-04-22 06:22] ashakumari commented on #12
I am still facing this issue with version 0.5.0 of the seedbank gem

[2019-04-23 17:34] ashakumari commented on #73
I have been getting similar error too: **NameError: wrong constant name #<Class:0x447eef8>**

I just started using Seedbank (v 0.5.0) and everytime I run rake db:seed, I am running into this issue.  I am trying to add just one record to start with and I haven't been able to take off. I am on Rails 5.1.6 and Ruby 2.3.3.

Does anyone has thoughts on how to resolve this issue? Is anyone using this ge

[2019-04-23 17:37] ashakumari opened #83 "NameError: wrong constant name #<Class:0x447eef8>"
I just started using Seedbank (v 0.5.0) and everytime I run rake db:seed, I am running into this issue - **NameError: wrong constant name #Class:0x447eef8**

I am trying to add just one record to start with and I haven't been able to take off. I am on Rails 5.1.6 and Ruby 2.3.3.

Does anyone have any thoughts on how to resolve this issue? Is anyone using this gem with the latest versions of Ruby o

[2019-04-24 16:46] james2m commented on #73
@ashakumari Can you post your seeds file here to give a bit more context?

[2019-04-25 17:45] ashakumari commented on #73
My seeds.rb is empty. I have modules.seeds.rb under seeds folder which has the simple code as shown below:
`class AppModule < ActiveRecord::Base
end

AppModule.find_or_create_by(:name => "Example", :label => "Example")`

[2019-04-30 11:21] ashakumari commented on #73
Can @james2m or anyone else help me on this?

[2019-09-27 11:27] roboyeti commented on #80
Having the exact same issue ... and don't really understand how the linked issue relates.  Any idea what is happening here?

[2020-02-18 16:01] zeptonaut opened #84 "Seeds don't use inline ActiveJob adapter like default seeds.rb file does"
[Since this patch](https://github.com/rails/rails/pull/34953/files#diff-1073ed8063cdf047e123bfdefa114422R661-R671), Rails seeds have been configured to always run with the `inline` ActiveJob adapter instead of the async one. Unfortunately, the way that this was implemented is incompatible with seed bank (it looks directly at the `db/seeds.rb` file to determine if the replacement should be made).

[2020-12-22 01:41] #43 closed

[2021-03-25 08:01] tlkiong opened #87 "Is this project still maintained?"

[2021-09-30 10:51] Eusebius1920 commented on #87
**Still**: as of now the project is working fine, even with the latest rails versions or are you experiencing any issues?

[2021-09-30 13:00] tlkiong commented on #87
@Eusebius1920 It isn't about experiencing any issues or not. I was just wondering if this is still active and / or maintained.

[2022-03-08 13:00] ricardopacheco commented on #14
In my case, not working:

[code]

Rails 7

[2022-03-14 20:24] jcquarto commented on #87
I agree, even a minor commit that adds "works with Rails 6 and Rails 7" in the README would have been a comfort to see. My first reaction was "oh, maybe I should look for a more recent other gem" or somesuch.

[2022-07-14 17:54] rc-iwoodley commented on #80
@xtagon thanks for posting your workaround, this worked for me as well 👍

[2022-08-21 08:38] seuros commented on #87
It works perfectly.